## ignore gradle output files
build/

## ignore eclipse output files
bin/
test-output/

## ignore output files from maven, old scripts, and (old) tests
target/

## ignore log files
log
*.log

## ignore gradle/wrapper/ which is automatically downloade by gradle
/gradle/wrapper/

## ignore all files with file-names that begin with dot '.'
.*
## except these files
!.helmignore
!/.github
!/.gitignore
!/.claude
